<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RedisAdmin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <link href="css/font-opensans.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href="css/pages/plans.css" rel="stylesheet">


</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html">Redis Admin</a>
        <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> 测试redis <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;">设置</a></li>
                    <li><a href="javascript:;">帮助</a></li>
                  </ul>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> 谭景峰 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;">账户</a></li>
                  <li><a href="javascript:;">退出</a></li>
                </ul>
              </li>
            </ul>

      </div>
      <!--/.nav-collapse --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /navbar-inner --> 
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="active"><a href="index.html"><i class="icon-dashboard"></i><span>监控信息</span> </a> </li>
          <li><a href="debug.html"><i class="icon-facetime-video"></i><span>调试</span> </a></li>
          <li><a href="reports.html"><i class="icon-list-alt"></i><span>统计</span> </a> </li>

      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget">
            <div class="widget-header"> <i class="icon-th-large"></i>
              <h3>总体信息</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                  <div class="pricing-plans plans-3">

						<div class="plan-container">
					        <div class="plan">
						        <div class="plan-header">
						        	<div class="plan-title">
						        		内存使用
					        		</div> <!-- /plan-title -->
						            <div class="plan-price">
					                	934M
									</div> <!-- /plan-price -->
						        </div> <!-- /plan-header -->
							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->
					    <div class="plan-container">
					        <div class="plan green">
						        <div class="plan-header">
						        	<div class="plan-title">
						        		总Keys数量
					        		</div> <!-- /plan-title -->
						            <div class="plan-price">
					                	23
									</div> <!-- /plan-price -->
						        </div> <!-- /plan-header -->
							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->

					    <div class="plan-container">
					        <div class="plan">
						        <div class="plan-header">
						        	<div class="plan-title">
						        		客户端
					        		</div> <!-- /plan-title -->
						            <div class="plan-price">
					                	59
									</div> <!-- /plan-price -->
						        </div> <!-- /plan-header -->
							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->
                        <div class="plan-container">
					        <div class="plan">
						        <div class="plan-header">
						        	<div class="plan-title">
						        		命令队列
					        		</div> <!-- /plan-title -->
						            <div class="plan-price">
					                	591.3
									</div> <!-- /plan-price -->
						        </div> <!-- /plan-header -->
							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->
                        <div class="plan-container">
					        <div class="plan">
						        <div class="plan-header">
						        	<div class="plan-title">
						        		运行时间
					        		</div> <!-- /plan-title -->
						            <div class="plan-price">
					                	591.3s
									</div> <!-- /plan-price -->
						        </div> <!-- /plan-header -->
							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->
					</div>
                </div>
                <!-- /widget-content --> 
                
              </div>
            </div>
          </div>
          <!-- /widget -->
        </div>
        <div class="span12">

          <div class="widget">
            <div class="widget-header"> <i class="icon-signal"></i>
              <h3> 内存消耗</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <canvas id="memory-consumption" class="chart-holder" height="250" width="950"> </canvas>
              <!-- /area-chart -->
            </div>
            <!-- /widget-content -->
          </div>
          <!-- /widget -->
        </div>
          <div class="span12">
              <div class="widget">
                <div class="widget-header"> <i class="icon-signal"></i>
                  <h3> 命令处理</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                  <canvas id="command-processed" class="chart-holder" height="250" width="950"> </canvas>
                  <!-- /area-chart -->
                </div>
                <!-- /widget-content -->
              </div>
              <!-- /widget -->
          </div>
          <div class="span6">
              <div class="widget">
                <div class="widget-header"> <i class="icon-signal"></i>
                  <h3> Top commands</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                  <canvas id="top-command" class="chart-holder" width="538" height="250"></canvas>
                  <!-- /area-chart -->
                </div>
                <!-- /widget-content -->
              </div>
              <!-- /widget -->
          </div>
          <div class="span6">
              <div class="widget">
                <div class="widget-header"> <i class="icon-signal"></i>
                  <h3> Top keys</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                  <canvas id="top-keys" class="chart-holder" width="538" height="250"></canvas>
                  <!-- /area-chart -->
                </div>
                <!-- /widget-content -->
              </div>
              <!-- /widget -->
          </div>
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
                    <div class="span3">
                        <h4>
                            About Free Admin Template</h4>
                        <ul>
                            <li><a href="javascript:;">EGrappler.com</a></li>
                            <li><a href="javascript:;">Web Development Resources</a></li>
                            <li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>
                            <li><a href="javascript:;">Free Resources and Scripts</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Support</h4>
                        <ul>
                            <li><a href="javascript:;">Frequently Asked Questions</a></li>
                            <li><a href="javascript:;">Ask a Question</a></li>
                            <li><a href="javascript:;">Video Tutorial</a></li>
                            <li><a href="javascript:;">Feedback</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Something Legal</h4>
                        <ul>
                            <li><a href="javascript:;">Read License</a></li>
                            <li><a href="javascript:;">Terms of Use</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Open Source jQuery Plugins</h4>
                        <ul>
                            <li><a href="http://www.egrappler.com">Open Source jQuery Plugins</a></li>
                            <li><a href="http://www.egrappler.com;">HTML5 Responsive Tempaltes</a></li>
                            <li><a href="http://www.egrappler.com;">Free Contact Form Plugin</a></li>
                            <li><a href="http://www.egrappler.com;">Flat UI PSD</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /extra-inner --> 
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2013 <a href="http://www.egrappler.com/">Bootstrap Responsive Admin Template</a>. </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
</div>
<!-- /footer --> 
<!-- Le javascript
================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="js/jquery-1.7.2.min.js"></script> 
<script src="js/excanvas.min.js"></script> 
<script src="js/chart.min.js" type="text/javascript"></script> 
<script src="js/bootstrap.js"></script>
<script language="javascript" type="text/javascript" src="js/full-calendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="easyui/jquery.min.js"></script>
<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
<script src="js/base.js"></script> 
<script>     

        var lineChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
				{
				    fillColor: "rgba(220,220,220,0.5)",
				    strokeColor: "rgba(220,220,220,1)",
				    pointColor: "rgba(220,220,220,1)",
				    pointStrokeColor: "#fff",
				    data: [65, 59, 90, 81, 56, 55, 40]
				},
				{
				    fillColor: "rgba(151,187,205,0.5)",
				    strokeColor: "rgba(151,187,205,1)",
				    pointColor: "rgba(151,187,205,1)",
				    pointStrokeColor: "#fff",
				    data: [28, 48, 40, 19, 96, 27, 100]
				}
			]

        }

        var myLine1 = new Chart(document.getElementById("command-processed").getContext("2d")).Line(lineChartData);
        var myLine2 = new Chart(document.getElementById("memory-consumption").getContext("2d")).Line(lineChartData);


        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
				{
				    fillColor: "rgba(220,220,220,0.5)",
				    strokeColor: "rgba(220,220,220,1)",
				    data: [65, 59, 90, 81, 56, 55, 40]
				},
				{
				    fillColor: "rgba(151,187,205,0.5)",
				    strokeColor: "rgba(151,187,205,1)",
				    data: [28, 48, 40, 19, 96, 27, 100]
				}
			]

        }    
        var myLine = new Chart(document.getElementById("top-keys").getContext("2d")).Bar(barChartData);
        var myLine = new Chart(document.getElementById("top-command").getContext("2d")).Bar(barChartData);

        $(document).ready(function() {

        });
    </script><!-- /Calendar -->
</body>
</html>
